* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-image: url(png-transparent-desktop-space-blue-display-resolution-space-atmosphere-computer-wallpaper-color.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#sun{
    margin-top: 500px;
    position: absolute;
    animation: sun 17s linear infinite;
    height: 500px;
    width: 500px;
}

#mercury{
    width: 10px;
    margin-top: 3000px;
    position: absolute;
    height: 10px;
    animation: spin 30s linear infinite;
    margin-left: 00px;

}

#venus{
    width: 40px;
    margin-top: 3000px;
    position: absolute;
    height: 40px;
    animation: spin 120s linear infinite;
    margin-left: 200px;

}
#earth{
    width: 41px;
    margin-top: 3000px;
    position: absolute;
    height: 41px;
    animation: spin 17s linear infinite;
    margin-left: 00px;

}
#mars{
    width: 20.5px;
    margin-top: 3000px;
    position: absolute;
    height: 20.5px;
    animation: spin 18s linear infinite;
    margin-left: 00px;

}
#jupiter{
    width: 100px;
    margin-top: 3000px;
    position: absolute;
    height: 100px;
    animation: spin 6s linear infinite;
    margin-left: 00px;

}
#saturn{
    height: 90px;
    margin-top: 3000px;
    position: absolute;
    height: 90px;
    animation: spin 8s linear infinite;
    margin-left: 00px;

}
#uranus{
    width: 80px;
    margin-top: 3000px;
    position: absolute;
    height: 80px;
    margin-left: 00px;
    
}
#neptune{
    width: 75px;
    margin-top: 3000px;
    position: absolute;
    height: 75px;
    animation: spin 11s linear infinite;
    margin-left: 00px;  
}

@keyframes spin{
    0%{
        rotate: 0deg;
        margin-top: 250px;
        margin-right: 250px;
    }
    33%{
        margin-top: -250px;
        margin-right: 250px;
    }
    66%{
        margin-top: -250px;
        margin-left: 250px;
    }
    100%{
        rotate: 360deg; 
        margin-top: 250px;
        margin-left: 250px;
    }
}

@keyframes sun{
    0%{
        rotate: 0deg;
    }
    100%{
        rotate: 360deg;
    }
}

